header{
    background-color:#6e4508;
    padding: 20px;
    align-items: center;
}

#logo{
    border-radius: 10px;
    
}

@font-face {
    font-family:'mclaren';
    src: url('McLaren-Regular.ttf') format('truetype')
}

.titulo-principal{
    font-family:'mclaren';
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-10%, -50%);
    font-size: 35px;
/*font-family: 'mclaren', sem sifra*/
}
body{
    background-color:#935e0f;
}
main{
    width: 940px;
    margin: auto;
}

from{
    margin: 40px 0; /*margen superior e inferior de 40 px, para os lados 0*/
}

form label, form p{
    /*Vamos replicar a mesma configuração do form label para o paragrafo, por isso, o uso da virgula*/
    display:block;
    font-size: 20px;
    margin: 0 0 10px;/*10 pixels para baixo*/
}
.input-psdrao{
    display:block;
    margin: 0 0 20px;/*20px para baixo*/
    padding: 10px 25px;/*10px para cima e par abaixo e 20 px para os lados*/
    width: 50%;/*largura dos inputs*/
}
.checkbox{
    margin: 20px 0;/*20 cima 20 baixo 0 lateral*/
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: #c2c2c2;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: #c2c2c2cf;
    transform: scale(1.2);
}
.copyright{
    color: black;
    font-size: 13px;
    margin: 10px 0 0;
}
footer{
    text-align: center;
    background-color: #6e4508;/*Insere imagem de findo*/
    padding: 10px 0;
}
#logo1{
    border-radius: 15px;
    width: 100px;
    height: 100px;
}
